body {
    margin: 0;
    font-family: Trebuchet MS;
}

h1 {
    margin: 0;
    display: flex;
    text-align: center;
    height: 50px;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: xx-large;
    padding: 10px;
    border: 3px inset steelblue;
}

.game-controls button {
    font-family: Trebuchet MS;
    background-color: steelblue;
    color: #000;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px; 
    padding: 12px 36px;
    text-decoration: none;
    transition: all .14s ease-out;
}

button:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(-3px,-3px);
}
button:focus-visible{
    outline-offset: 1px;
}

#player-group {
    display: flex;
    justify-content: space-around;
    height: 200px;
}

.game-controls {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}
#supermarket h3 {
    text-align: center;
}

#supermarket ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 200px;
    min-height: 200px;
    max-height: 200px;
    margin: 50px;
}

#supermarket ul li {
    list-style: none;
    height: 40px;
}